node-red/.flows_iot.json.backup
[
    {
        "id": "685cfa5b.2650f4",
        "type": "tab",
        "label": "Sheet 1"
    },
    {
        "id": "962cb828.613348",
        "type": "tab",
        "label": "Sheet 2"
    },
    {
        "id": "93cd5b69.186278",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "921375ea.3b3d38",
        "type": "tab",
        "label": "Woodburner Alarm",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c7556560.da52d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e3fc4d98.11333",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bb330f1d.4495",
        "type": "subflow",
        "name": "Room Temperatures",
        "info": "",
        "category": "",
        "in": [],
        "out": []
    },
    {
        "id": "9dac7c55.5b1a8",
        "type": "subflow",
        "name": "Boiler Temperatures",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ]
    },
    {
        "id": "f919d09c.4026b",
        "type": "subflow",
        "name": "Electricity Usage",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 780,
                "y": 220,
                "wires": [
                    {
                        "id": "240f8796.fafe38",
                        "port": 0
                    },
                    {
                        "id": "716c420b.1e5cac",
                        "port": 0
                    },
                    {
                        "id": "279c7d45.aaeb02",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "71f43fca.5d3d7",
        "type": "subflow",
        "name": "Weather",
        "info": "",
        "category": "",
        "in": [],
        "out": []
    },
    {
        "id": "2d4c8119.cffb1e",
        "type": "subflow",
        "name": "Utility Room",
        "info": "",
        "category": "",
        "in": [],
        "out": []
    },
    {
        "id": "69ab4e12.4d835",
        "type": "subflow",
        "name": "System Controls",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1140,
                "y": 80,
                "wires": []
            }
        ]
    },
    {
        "id": "eb4cd96e.0ae0a8",
        "type": "subflow",
        "name": "Garage Solar",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 620,
                "y": 560,
                "wires": []
            }
        ]
    },
    {
        "id": "d9cbc95c.9962d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Pi",
        "broker": "192.168.1.100",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "223ce68a.50134a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Hollies IoT Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 40,
                "sy": 48,
                "gx": 2,
                "gy": 2,
                "cx": 6,
                "cy": 6,
                "px": 2,
                "py": 0
            }
        }
    },
    {
        "id": "4c3fa9a6.3868e8",
        "type": "ui_group",
        "z": "",
        "name": "Boiler",
        "tab": "9dace2eb.bff4d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "cd68e730.7e3088",
        "type": "ui_group",
        "z": "",
        "name": "Rooms",
        "tab": "9dace2eb.bff4d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "9dace2eb.bff4d",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "16026dfe.edfd72",
        "type": "ui_group",
        "z": "",
        "name": "Electric (export -ve)",
        "tab": "9dace2eb.bff4d",
        "order": 7,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "3d1c1520.04fc6a",
        "type": "ui_group",
        "z": "",
        "name": "Weather",
        "tab": "37532b70.0482f4",
        "disp": true,
        "width": "8"
    },
    {
        "id": "37532b70.0482f4",
        "type": "ui_tab",
        "z": "",
        "name": "Weather",
        "icon": "dashboard"
    },
    {
        "id": "4385ba06.a9e2a4",
        "type": "ui_group",
        "z": "",
        "name": "Rads",
        "tab": "9dace2eb.bff4d",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": true
    },
    {
        "id": "dc0fa820.c90778",
        "type": "ui_group",
        "z": "",
        "name": "Heating",
        "tab": "9dace2eb.bff4d",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "9def39ad.39afc8",
        "type": "ui_group",
        "z": "",
        "name": "Zone",
        "tab": "9dace2eb.bff4d",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": true
    },
    {
        "id": "4fab2e8b.b52b9",
        "type": "ui_group",
        "z": "",
        "name": "Utilty Room",
        "tab": "9dace2eb.bff4d",
        "order": 6,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "55a1096.ee826f8",
        "type": "ui_group",
        "z": "",
        "name": "Solar Thermal",
        "tab": "9dace2eb.bff4d",
        "order": 8,
        "disp": true,
        "width": "8",
        "collapse": true
    },
    {
        "id": "4792a5d6.9d80ec",
        "type": "ui_group",
        "z": "",
        "name": "Woodburner Alarm",
        "tab": "9dace2eb.bff4d",
        "order": 9,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "f8783d13.3b8ec",
        "type": "ui_group",
        "z": "",
        "name": "Solar PV",
        "tab": "9dace2eb.bff4d",
        "order": 10,
        "disp": true,
        "width": "8",
        "collapse": true
    },
    {
        "id": "cb11246e.693338",
        "type": "inject",
        "z": "685cfa5b.2650f4",
        "name": "Trigger Init",
        "topic": "Trigger",
        "payload": "testBCinit",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 117.08332824707031,
        "y": 467.0832824707031,
        "wires": [
            [
                "14b81324.5ef6e5"
            ]
        ]
    },
    {
        "id": "8b65dfb.8ccae2",
        "type": "file in",
        "z": "685cfa5b.2650f4",
        "name": "Send Init",
        "filename": "",
        "format": "utf8",
        "x": 305.08331298828125,
        "y": 523.0832824707031,
        "wires": [
            [
                "19e670f6.edc31f"
            ]
        ]
    },
    {
        "id": "19e670f6.edc31f",
        "type": "function",
        "z": "685cfa5b.2650f4",
        "name": "Split",
        "func": "var lines = msg.payload.split(\"\\n\");\nlines.forEach(function(l) {\n    var m = l.split(\"=\");\n    if (m[0] !== \"\" && m[1] !== \"\") {\n        node.send({topic: m[0], payload: m[1]});\n    }\n})",
        "outputs": 1,
        "noerr": 0,
        "x": 312.08331298828125,
        "y": 576.0833129882812,
        "wires": [
            [
                "af4063b8.8f9ea"
            ]
        ]
    },
    {
        "id": "7686f4c2.922974",
        "type": "debug",
        "z": "685cfa5b.2650f4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 501.08331298828125,
        "y": 542.0833129882812,
        "wires": []
    },
    {
        "id": "af4063b8.8f9ea",
        "type": "delay",
        "z": "685cfa5b.2650f4",
        "name": "Limit",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 312.08331298828125,
        "y": 631.0833129882812,
        "wires": [
            [
                "7686f4c2.922974",
                "25255f93.015308"
            ]
        ]
    },
    {
        "id": "25255f93.015308",
        "type": "mqtt out",
        "z": "685cfa5b.2650f4",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "d9cbc95c.9962d8",
        "x": 488.08331298828125,
        "y": 599.0832824707031,
        "wires": []
    },
    {
        "id": "43be016f.1168c",
        "type": "mqtt in",
        "z": "685cfa5b.2650f4",
        "name": "Capture set",
        "topic": "/Raw/Holliesa69ec3/+/set/#",
        "broker": "d9cbc95c.9962d8",
        "x": 116.08332824707031,
        "y": 39.083335876464844,
        "wires": [
            [
                "43fc0924.188a5"
            ]
        ]
    },
    {
        "id": "46236321.e366e4",
        "type": "file",
        "z": "685cfa5b.2650f4",
        "name": "Save Set",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 807.0833129882812,
        "y": 33.083335876464844,
        "wires": [
            []
        ]
    },
    {
        "id": "43fc0924.188a5",
        "type": "function",
        "z": "685cfa5b.2650f4",
        "name": "Combine",
        "func": "context.filename = context.filename || \"\";\nif (msg.topic == 'FileName') {\n    context.filename = context.global.userDir+\"\\\\\"+msg.payload+\".log\";\n    msg.filename = context.filename;\n    msg.payload = \"Start: \"+context.filename;\n    return msg;\n} else if (msg.topic == 'StopRecording') {\n    if (context.filename === \"\") {\n        return null;\n    } else {\n        msg.payload = \"End: \"+context.filename+' @ '+msg.payload;\n        msg.filename = context.filename;\n        context.filename = \"\";\n        return msg;\n    }\n} else {\n    if (context.filename === \"\") {\n        return null;\n    } else {\n        msg.payload = msg.topic+\"=\"+msg.payload;\n        msg.filename = context.filename;\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 497.08331298828125,
        "y": 35.083335876464844,
        "wires": [
            [
                "46236321.e366e4",
                "c976bda3.7fa3c8"
            ]
        ]
    },
    {
        "id": "6256c187.585b88",
        "type": "inject",
        "z": "685cfa5b.2650f4",
        "name": "Trigger set",
        "topic": "Trigger",
        "payload": "testBCset",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130.0833282470703,
        "y": 546.0833129882812,
        "wires": [
            [
                "14b81324.5ef6e5"
            ]
        ]
    },
    {
        "id": "14b81324.5ef6e5",
        "type": "function",
        "z": "685cfa5b.2650f4",
        "name": "Set name",
        "func": "msg.filename = context.global.userDir+\"\\\\\"+msg.payload+\".log\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290.08331298828125,
        "y": 465.08331298828125,
        "wires": [
            [
                "8b65dfb.8ccae2"
            ]
        ]
    },
    {
        "id": "6b51d1a8.28fb6",
        "type": "inject",
        "z": "685cfa5b.2650f4",
        "name": "",
        "topic": "FileName",
        "payload": "testBCset",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 283.08331298828125,
        "y": 68.08333587646484,
        "wires": [
            [
                "43fc0924.188a5"
            ]
        ]
    },
    {
        "id": "3caa8f5a.55af6",
        "type": "inject",
        "z": "685cfa5b.2650f4",
        "name": "Stop recording",
        "topic": "StopRecording",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 316.08331298828125,
        "y": 181.08334350585938,
        "wires": [
            [
                "43fc0924.188a5"
            ]
        ]
    },
    {
        "id": "d8664897.2479e8",
        "type": "inject",
        "z": "685cfa5b.2650f4",
        "name": "",
        "topic": "FileName",
        "payload": "testBCinit",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 283.08331298828125,
        "y": 123.08334350585938,
        "wires": [
            [
                "43fc0924.188a5"
            ]
        ]
    },
    {
        "id": "c976bda3.7fa3c8",
        "type": "debug",
        "z": "685cfa5b.2650f4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 817.0833129882812,
        "y": 77.08333587646484,
        "wires": []
    },
    {
        "id": "4a6842d1.c46e4c",
        "type": "mqtt in",
        "z": "685cfa5b.2650f4",
        "name": "IO",
        "topic": "/Raw/Holliesa69ec3/#",
        "broker": "d9cbc95c.9962d8",
        "x": 108.08332824707031,
        "y": 247.08331298828125,
        "wires": [
            [
                "672a854a.c337dc"
            ]
        ]
    },
    {
        "id": "672a854a.c337dc",
        "type": "function",
        "z": "685cfa5b.2650f4",
        "name": "Combine",
        "func": "context.filename = context.filename || \"\";\nif (typeof context.input == 'undefined') {\n    context.input = [];\n}\nif (typeof context.output == 'undefined') {\n    context.output = [];\n}\nif (typeof context.temperature == 'undefined') {\n    context.temperature = [];\n}\n\nif (msg.topic == 'FileName') {\n    context.filename = context.global.userDir+\"\\\\\"+msg.payload+\".log\";\n    msg.filename = context.filename\n    msg.payload = \"Start: \"+context.filename;\n    return msg;\n} else if (msg.topic == 'StopRecording') {\n    if (context.filename === \"\") {\n        return null;\n    } else {\n        msg.payload = \"End: \"+context.filename+' @ '+msg.payload;\n        msg.filename = context.filename\n        context.filename = \"\";\n        return msg;\n    }\n} else if (msg.topic == 'Clear') {\n    context.input = [];\n    context.output = [];\n    context.temperatrue = [];\n} else {\n    if (context.filename === \"\") {\n        return null;\n    } else {\n        var topics = msg.topic.split('/');\n        if (topics[4] == 'info') {\n            var topicID = topics[3];\n            var pl = JSON.parse(msg.payload);\n            if (pl.Type == \"Input\") {\n                if (context.input[topicID] != pl.Value) {\n                    context.input[topicID] = pl.Value;\n                    msg.payload = msg.topic+\"/input=\"+pl.Value;\n                    msg.filename = context.filename;\n                    return msg;\n               }\n            } else if (pl.Type == \"Output\") {\n                if (context.output[topicID] != pl.Value) {\n                    context.output[topicID] = pl.Value;\n                    msg.payload = msg.topic+\"/output=\"+pl.Value;\n                    msg.filename = context.filename;\n                    return msg;\n               }\n            } else if (pl.Type == \"Temp\") {\n                if (context.temperature[topicID] != pl.Value) {\n                    context.temperature[topicID] = pl.Value;\n                    msg.payload = msg.topic+\"/temperature=\"+pl.Value;\n                    msg.filename = context.filename;\n                    return msg;\n               }\n            }\n        }\n    }\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 435.08331298828125,
        "y": 244.08334350585938,
        "wires": [
            [
                "f18a700b.6e6cc8",
                "bce22ab1.afbc3"
            ]
        ]
    },
    {
        "id": "f18a700b.6e6cc8",
        "type": "file",
        "z": "685cfa5b.2650f4",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 680.0833129882812,
        "y": 241.08331298828125,
        "wires": [
            []
        ]
    },
    {
        "id": "47d5b019.236de",
        "type": "inject",
        "z": "685cfa5b.2650f4",
        "name": "Stop Recording",
        "topic": "StopRecording",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 197.0833282470703,
        "y": 295.0833435058594,
        "wires": [
            [
                "672a854a.c337dc"
            ]
        ]
    },
    {
        "id": "e3500b4b.d9de8",
        "type": "inject",
        "z": "685cfa5b.2650f4",
        "name": "",
        "topic": "FileName",
        "payload": "testBCio",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 191.0833282470703,
        "y": 345.0833435058594,
        "wires": [
            [
                "672a854a.c337dc"
            ]
        ]
    },
    {
        "id": "bce22ab1.afbc3",
        "type": "debug",
        "z": "685cfa5b.2650f4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 690.0833282470703,
        "y": 315.0833282470703,
        "wires": []
    },
    {
        "id": "116f834b.1e349d",
        "type": "inject",
        "z": "685cfa5b.2650f4",
        "name": "",
        "topic": "Clear",
        "payload": "",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 218.0833282470703,
        "y": 402.08331298828125,
        "wires": [
            [
                "672a854a.c337dc"
            ]
        ]
    },
    {
        "id": "2db0b656.1c2972",
        "type": "mqtt in",
        "z": "962cb828.613348",
        "name": "",
        "topic": "/Raw/Holliesd8237a/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 177,
        "y": 33,
        "wires": [
            [
                "5b50cfaf.7ef148",
                "f2085fae.9590f"
            ]
        ]
    },
    {
        "id": "f2085fae.9590f",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "Temp",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 610,
        "y": 20,
        "wires": []
    },
    {
        "id": "5b50cfaf.7ef148",
        "type": "function",
        "z": "962cb828.613348",
        "name": "",
        "func": "try {\nvar info = JSON.parse(msg.payload);\nswitch (info.Type) {\n    case \"Temp\": \n        if (msg.topic.indexOf(\"/0/\") == -1) {\n            if (msg.topic.indexOf(\"/1/\") == -1)\n                return [msg,null, null, null, null]; \n        }\n        return [null, msg, null, null, null];\n    case \"Input\": return [null, null, msg, null, null]; \n    case \"Output\": return [null, null, null, msg, null]; \n    case \"PIR\": return [null, null, null, null, msg, null]; \n    case \"PIR ON\": return [null, null, null, null, msg, null]; \n    default: return [null, null, null, null, null, msg];\n}\n} catch(ex) {\n    msg.payload.ex = ex;\n}\nreturn msg;",
        "outputs": "6",
        "noerr": 0,
        "x": 389,
        "y": 104,
        "wires": [
            [
                "f2085fae.9590f"
            ],
            [
                "a22c5848.938f"
            ],
            [
                "731f11c3.f61038"
            ],
            [
                "2b8c1c58.ac1ddc"
            ],
            [
                "9e782c28.492bb8"
            ],
            [
                "3d1de6a5.d4efda"
            ]
        ]
    },
    {
        "id": "731f11c3.f61038",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "Input",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "2b8c1c58.ac1ddc",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "Output",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "b487b4.d143b85",
        "type": "mqtt out",
        "z": "962cb828.613348",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "d9cbc95c.9962d8",
        "x": 638,
        "y": 445,
        "wires": []
    },
    {
        "id": "c1ce754.07e2908",
        "type": "inject",
        "z": "962cb828.613348",
        "name": "Refresh",
        "topic": "/App/Refresh",
        "payload": "1",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 181,
        "y": 505,
        "wires": [
            [
                "b487b4.d143b85",
                "d36ba79e.b74ea8"
            ]
        ]
    },
    {
        "id": "d36ba79e.b74ea8",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 631,
        "y": 508,
        "wires": []
    },
    {
        "id": "3d1de6a5.d4efda",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "d7b828e7.dc6aa8",
        "type": "mqtt in",
        "z": "962cb828.613348",
        "name": "RSSI",
        "topic": "/App/+/+/RSSI/#",
        "broker": "d9cbc95c.9962d8",
        "x": 173,
        "y": 576,
        "wires": [
            [
                "bb19a62a.c15a4"
            ]
        ]
    },
    {
        "id": "bb19a62a.c15a4",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 460,
        "y": 586,
        "wires": []
    },
    {
        "id": "4619faaf.11900c",
        "type": "inject",
        "z": "962cb828.613348",
        "name": "Socket 3 on",
        "topic": "/Raw/Holliesf909a3/3/set/socket",
        "payload": "1",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 202,
        "y": 639,
        "wires": [
            [
                "b4f8bdee.a5e9a"
            ]
        ]
    },
    {
        "id": "b4f8bdee.a5e9a",
        "type": "mqtt out",
        "z": "962cb828.613348",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "d9cbc95c.9962d8",
        "x": 620,
        "y": 635,
        "wires": []
    },
    {
        "id": "23a78190.4a155e",
        "type": "inject",
        "z": "962cb828.613348",
        "name": "Socket 3 Off",
        "topic": "/Raw/Holliesf909a3/3/set/socket",
        "payload": "0",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 199,
        "y": 680,
        "wires": [
            [
                "b4f8bdee.a5e9a"
            ]
        ]
    },
    {
        "id": "ffe5d411.63a948",
        "type": "inject",
        "z": "962cb828.613348",
        "name": "Gate",
        "topic": "/Raw/Holliesf909a3/1/set/gate",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 214,
        "y": 718,
        "wires": [
            [
                "b4f8bdee.a5e9a"
            ]
        ]
    },
    {
        "id": "a3fc48bd.722018",
        "type": "mqtt in",
        "z": "962cb828.613348",
        "name": "",
        "topic": "/App/Outside/Gate Sensor/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 238,
        "y": 884,
        "wires": [
            [
                "f773c935.80dfe8"
            ]
        ]
    },
    {
        "id": "f773c935.80dfe8",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 487,
        "y": 844,
        "wires": []
    },
    {
        "id": "a22c5848.938f",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "Var Temp",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 780,
        "y": 40,
        "wires": []
    },
    {
        "id": "2005f9c1.007dce",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "dbea0c5d.ce1c3",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 608,
        "y": 394,
        "wires": []
    },
    {
        "id": "3dc37ae7.743db6",
        "type": "mqtt in",
        "z": "962cb828.613348",
        "name": "Device",
        "topic": "/Raw/#",
        "broker": "d9cbc95c.9962d8",
        "x": 70,
        "y": 400,
        "wires": [
            [
                "dbea0c5d.ce1c3"
            ]
        ]
    },
    {
        "id": "67cf6a5.7817a14",
        "type": "mqtt in",
        "z": "962cb828.613348",
        "name": "",
        "topic": "/Raw/Hollies316b0/3/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "3ec33e4d.4d32ca"
            ]
        ]
    },
    {
        "id": "3ec33e4d.4d32ca",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 596,
        "y": 336,
        "wires": []
    },
    {
        "id": "9e782c28.492bb8",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "PIR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "89783e29.38abb8",
        "type": "mqtt in",
        "z": "962cb828.613348",
        "name": "",
        "topic": "/Raw/+/+/clear/#",
        "broker": "d9cbc95c.9962d8",
        "x": 195,
        "y": 824,
        "wires": [
            [
                "f773c935.80dfe8"
            ]
        ]
    },
    {
        "id": "a4f2355f.b9f4f8",
        "type": "mqtt in",
        "z": "962cb828.613348",
        "name": "",
        "topic": "/Raw/+/offline",
        "broker": "d9cbc95c.9962d8",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "b6e759fb.00b538"
            ]
        ]
    },
    {
        "id": "b6e759fb.00b538",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "8a7cb683.0ab5b8",
        "type": "mqtt in",
        "z": "962cb828.613348",
        "name": "",
        "topic": "/Raw/+/+/set/setting",
        "broker": "d9cbc95c.9962d8",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "b6e759fb.00b538"
            ]
        ]
    },
    {
        "id": "49bd75ab.e7b9ac",
        "type": "inject",
        "z": "962cb828.613348",
        "name": "",
        "topic": "/Raw/Hollies139e26/set/mac",
        "payload": "",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 452,
        "wires": [
            [
                "b487b4.d143b85"
            ]
        ]
    },
    {
        "id": "f4092136.c433e",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/Porch/+/3 Office/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 164,
        "y": 89,
        "wires": [
            [
                "e1156e9.903c49"
            ]
        ]
    },
    {
        "id": "e1156e9.903c49",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "Office",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Office",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 574,
        "y": 89,
        "wires": []
    },
    {
        "id": "252e1577.c9d21a",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/Porch/+/2 Extn/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 161,
        "y": 31,
        "wires": [
            [
                "3586bf18.2b8e9"
            ]
        ]
    },
    {
        "id": "3586bf18.2b8e9",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "All Extn",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "All Extn",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 581,
        "y": 31,
        "wires": []
    },
    {
        "id": "c087888.07c1178",
        "type": "mqtt in",
        "z": "bb330f1d.4495",
        "name": "",
        "topic": "/App/Bedroom/+/Temperature/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "ffa9e9af.363c68"
            ]
        ]
    },
    {
        "id": "b853dec4.87da7",
        "type": "mqtt in",
        "z": "bb330f1d.4495",
        "name": "",
        "topic": "/App/Dining/+/Temperature/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "1a14423e.a4668e"
            ]
        ]
    },
    {
        "id": "237bac44.506674",
        "type": "mqtt in",
        "z": "bb330f1d.4495",
        "name": "",
        "topic": "/App/Family/+/Temperature/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "38f49ec7.cc62a2"
            ]
        ]
    },
    {
        "id": "f8a2c68.25e9638",
        "type": "ui_chart",
        "z": "bb330f1d.4495",
        "name": "FamilyTemp",
        "group": "cd68e730.7e3088",
        "order": 0,
        "width": "6",
        "height": "11",
        "label": "Room Temperatures",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "12",
        "ymax": "26",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 787,
        "y": 135,
        "wires": [
            []
        ],
        "outputLabels": [
            "test1"
        ]
    },
    {
        "id": "38f49ec7.cc62a2",
        "type": "function",
        "z": "bb330f1d.4495",
        "name": "",
        "func": "msg.topic = \"Family\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "f8a2c68.25e9638"
            ]
        ]
    },
    {
        "id": "1a14423e.a4668e",
        "type": "function",
        "z": "bb330f1d.4495",
        "name": "",
        "func": "msg.topic = \"Dining\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "f8a2c68.25e9638"
            ]
        ]
    },
    {
        "id": "ffa9e9af.363c68",
        "type": "function",
        "z": "bb330f1d.4495",
        "name": "",
        "func": "msg.topic = \"Bedroom\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "f8a2c68.25e9638"
            ]
        ]
    },
    {
        "id": "3c27cd78.c58692",
        "type": "mqtt in",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "topic": "/App/Boiler Rm/+/TS Bottom/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "65ab3bb.5bec0c4",
                "cf5b11c1.d459e"
            ]
        ]
    },
    {
        "id": "cb24ea52.bee0a8",
        "type": "ui_gauge",
        "z": "9dac7c55.5b1a8",
        "name": "Boiler",
        "group": "4c3fa9a6.3868e8",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Boiler Top",
        "label": "C",
        "format": "{{value}}",
        "min": "10",
        "max": "90",
        "colors": [
            "#2b25fe",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "70",
        "x": 548,
        "y": 118,
        "wires": []
    },
    {
        "id": "ffc46e51.32de6",
        "type": "mqtt in",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "topic": "/App/Boiler Rm/+/TS Top/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 148,
        "y": 118,
        "wires": [
            [
                "cb24ea52.bee0a8"
            ]
        ]
    },
    {
        "id": "65ab3bb.5bec0c4",
        "type": "ui_gauge",
        "z": "9dac7c55.5b1a8",
        "name": "Boiler",
        "group": "4c3fa9a6.3868e8",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Boiler Bottom",
        "label": "C",
        "format": "{{value}}",
        "min": "10",
        "max": "80",
        "colors": [
            "#0310fa",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "70",
        "x": 548,
        "y": 38,
        "wires": []
    },
    {
        "id": "87e66e01.a8b38",
        "type": "ui_gauge",
        "z": "9dac7c55.5b1a8",
        "name": "Boiler",
        "group": "4c3fa9a6.3868e8",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Wood burner",
        "label": "C",
        "format": "{{value}}",
        "min": "10",
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "80",
        "x": 548,
        "y": 178,
        "wires": []
    },
    {
        "id": "f8545627.58d308",
        "type": "function",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "func": "msg.topic = \"Woodburner\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 548,
        "y": 218,
        "wires": [
            [
                "d0c39105.4bc6"
            ]
        ]
    },
    {
        "id": "d0c39105.4bc6",
        "type": "ui_chart",
        "z": "9dac7c55.5b1a8",
        "name": "BoilerTemp",
        "group": "4c3fa9a6.3868e8",
        "order": 0,
        "width": "6",
        "height": "9",
        "label": "Boiler Temperatures",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 788,
        "y": 58,
        "wires": [
            []
        ],
        "outputLabels": [
            "test1",
            "test222"
        ]
    },
    {
        "id": "cf5b11c1.d459e",
        "type": "function",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "func": "msg.topic = \"TS Bottom\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 548,
        "y": 78,
        "wires": [
            [
                "d0c39105.4bc6"
            ]
        ]
    },
    {
        "id": "716c420b.1e5cac",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/+/+/1 Skt1/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 144,
        "y": 209,
        "wires": [
            [
                "ff8dc53a.955ef8"
            ]
        ]
    },
    {
        "id": "ff8dc53a.955ef8",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "Extn Skt 1",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Extn Skt 1",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 584,
        "y": 209,
        "wires": []
    },
    {
        "id": "240f8796.fafe38",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/+/+/2 MHRV/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 154,
        "y": 269,
        "wires": [
            [
                "585a7e2e.ccf"
            ]
        ]
    },
    {
        "id": "779d451a.32e4dc",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "MHRV",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "MHRV",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 577,
        "y": 267,
        "wires": []
    },
    {
        "id": "279c7d45.aaeb02",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/+/+/3 Skt 2/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "a6e97723.502e48"
            ]
        ]
    },
    {
        "id": "a24b2754.61c468",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "Friges",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Fridges",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "fa820242.3eca5",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/+/+/4 House/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "6798660a.a1a248"
            ]
        ]
    },
    {
        "id": "cfc28f02.ce6d2",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "House",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "House",
        "label": "units",
        "format": "{{value}}",
        "min": "-4000",
        "max": "8000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "b76837d6.5a0468",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/Porch/+/4 Kitchen/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 174,
        "y": 147,
        "wires": [
            [
                "eeb163da.2f303"
            ]
        ]
    },
    {
        "id": "eeb163da.2f303",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "Kitchen",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Kitchen",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 584,
        "y": 147,
        "wires": []
    },
    {
        "id": "46321e74.02a4c",
        "type": "mqtt in",
        "z": "bb330f1d.4495",
        "name": "",
        "topic": "/App/Lounge/+/Room Top/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "c64cde3a.c92cb"
            ]
        ]
    },
    {
        "id": "c64cde3a.c92cb",
        "type": "function",
        "z": "bb330f1d.4495",
        "name": "",
        "func": "msg.topic = \"Lounge\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 40,
        "wires": [
            [
                "f8a2c68.25e9638"
            ]
        ]
    },
    {
        "id": "e2501e1c.faec5",
        "type": "mqtt in",
        "z": "71f43fca.5d3d7",
        "name": "",
        "topic": "/App/weather/daily",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "ea901f5c.9056",
                "ecf81566.5b37b8",
                "15b836a4.316b39",
                "6bc7fbb0.5b1b94",
                "d78f3097.2e99"
            ]
        ]
    },
    {
        "id": "49c387c3.8b09c8",
        "type": "ui_template",
        "z": "71f43fca.5d3d7",
        "group": "3d1c1520.04fc6a",
        "name": "Daily Weather",
        "order": 0,
        "width": "4",
        "height": "3",
        "format": "<div style=\"color: cyan\">{{msg.payload.dow}}</div>\n<div ng-bind=\"msg.payload.summary\">{{m}}</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 600,
        "y": 54,
        "wires": [
            []
        ]
    },
    {
        "id": "ea901f5c.9056",
        "type": "function",
        "z": "71f43fca.5d3d7",
        "name": "Today",
        "func": "var daily = JSON.parse(msg.payload);\nvar day = 0;\nvar moment = global.get(\"moment\");\nvar dt = new Date(parseInt(daily[day].time)*1000);\ndaily[day].dow = moment(dt).format('dddd');\nmsg.payload = daily[day];\nreturn [msg, {payload:daily[day].dow}];",
        "outputs": "2",
        "noerr": 0,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "49c387c3.8b09c8"
            ],
            []
        ]
    },
    {
        "id": "e2f17ca6.a1104",
        "type": "ui_template",
        "z": "71f43fca.5d3d7",
        "group": "3d1c1520.04fc6a",
        "name": "Daily Weather",
        "order": 0,
        "width": "4",
        "height": "3",
        "format": "\n<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex; height: 100%; justify-content: center; align-items: center;\">\n<i class=\"fa-4x wi wi-wu-windy\"></i>\n</div> \n<div style=\"color: cyan\">{{msg.payload.dow}}</div>\n<div ng-bind=\"msg.payload.summary\">{{m}}</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 602,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ecf81566.5b37b8",
        "type": "function",
        "z": "71f43fca.5d3d7",
        "name": "Day 1",
        "func": "var daily = JSON.parse(msg.payload);\nvar day = 1;\nvar moment = global.get(\"moment\");\nvar dt = new Date(parseInt(daily[day].time)*1000);\ndaily[day].dow = moment(dt).format('dddd');\nmsg.payload = daily[day];\nreturn [msg, {payload:daily[day].dow}];",
        "outputs": "2",
        "noerr": 0,
        "x": 352,
        "y": 106,
        "wires": [
            [
                "e2f17ca6.a1104"
            ],
            []
        ]
    },
    {
        "id": "2eb1deaa.cd3ff2",
        "type": "ui_template",
        "z": "71f43fca.5d3d7",
        "group": "3d1c1520.04fc6a",
        "name": "Daily Weather",
        "order": 0,
        "width": "4",
        "height": "3",
        "format": "<div style=\"color: cyan\">{{msg.payload.dow}}</div>\n<div>{{msg.payload.summary}}</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 596,
        "y": 149,
        "wires": [
            []
        ]
    },
    {
        "id": "15b836a4.316b39",
        "type": "function",
        "z": "71f43fca.5d3d7",
        "name": "Day 2",
        "func": "var daily = JSON.parse(msg.payload);\nvar day = 2;\nvar moment = global.get(\"moment\");\nvar dt = new Date(parseInt(daily[day].time)*1000);\ndaily[day].dow = moment(dt).format('dddd');\nmsg.payload = daily[day];\nreturn [msg, {payload:daily[day].dow}];",
        "outputs": "2",
        "noerr": 0,
        "x": 346,
        "y": 155,
        "wires": [
            [
                "2eb1deaa.cd3ff2"
            ],
            []
        ]
    },
    {
        "id": "ae67e9f5.1d8bd8",
        "type": "ui_template",
        "z": "71f43fca.5d3d7",
        "group": "3d1c1520.04fc6a",
        "name": "Daily Weather",
        "order": 0,
        "width": "4",
        "height": "3",
        "format": "<div style=\"color: cyan\">{{msg.payload.dow}}</div>\n<div>{{msg.payload.summary}}</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 596,
        "y": 196,
        "wires": [
            []
        ]
    },
    {
        "id": "6bc7fbb0.5b1b94",
        "type": "function",
        "z": "71f43fca.5d3d7",
        "name": "Day 3",
        "func": "var daily = JSON.parse(msg.payload);\nvar day = 3;\nvar moment = global.get(\"moment\");\nvar dt = new Date(parseInt(daily[day].time)*1000);\ndaily[day].dow = moment(dt).format('dddd');\nmsg.payload = daily[day];\nreturn [msg, {payload:daily[day].dow}];",
        "outputs": "2",
        "noerr": 0,
        "x": 346,
        "y": 202,
        "wires": [
            [
                "ae67e9f5.1d8bd8"
            ],
            []
        ]
    },
    {
        "id": "5331c9be.bc65a8",
        "type": "ui_template",
        "z": "71f43fca.5d3d7",
        "group": "3d1c1520.04fc6a",
        "name": "Daily Weather",
        "order": 0,
        "width": "4",
        "height": "3",
        "format": "<script src=\"/myjs/skycons.js\"></script>\n<canvas id=\"icon1\"  width=\"50\" height=\"50\"></canvas>\n<div style=\"color: cyan\">{{msg.payload.dow}}</div>\n<div>{{msg.payload.summary}}</div><script>\ntry {\n    var skycons = new Skycons({\"monochrome\": false, \n                    \"colors\": { \n                          \"main\": \"#779966\", \n                          \"moon\":\"#666666\",\n                          \"fog\": \"#555522\",\n                          \"fogbank\": \"#884488\",\n                          \"cloud\": \"#999999\",\n                          \"snow\": \"#aaaaaa\",\n                          \"leaf\":\"#00ff00\",\n                          \"rain\": \"#0000ff\",\n                          \"sun\": \"#ff3300\"\n                        } });\n    skycons.add(\"icon1\", Skycons.PARTLY_CLOUDY_DAY);\n    skycons.play();\n} catch(e) {alert(e);}\n    (function(scope) {\n        scope.$watch('msg.payload.icon', function(data) {\n           if (data==\"clear-day\") skycons.set(\"icon1\", Skycons.CLEAR_DAY);\n           else if (data==\"clear-night\") skycons.set(\"icon1\", Skycons.CLEAR_NIGHT);\n           else if (data==\"partly-cloudy-day\") skycons.set(\"icon1\", Skycons.PARTLY_CLOUDY_DAY);\n           else if (data==\"partly-cloudy-night\") skycons.set(\"icon1\", Skycons.PARTLY_CLOUDY_NIGHT);\n           else if (data==\"cloudy\") skycons.set(\"icon1\", Skycons.CLOUDY);\n           else if (data==\"rain\") skycons.set(\"icon1\", Skycons.RAIN);\n           else if (data==\"sleet\") skycons.set(\"icon1\", Skycons.SLEET);\n           else if (data==\"snow\") skycons.set(\"icon1\", Skycons.SNOW);\n           else if (data==\"wind\") skycons.set(\"icon1\", Skycons.WIND);\n           else if (data==\"fog\") skycons.set(\"icon1\", Skycons.FOG);\n           else alert(msg.payload.icon);\n        });\n    })(scope);\n \n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 596,
        "y": 248,
        "wires": [
            []
        ],
        "outputLabels": [
            "Test"
        ]
    },
    {
        "id": "d78f3097.2e99",
        "type": "function",
        "z": "71f43fca.5d3d7",
        "name": "Day 4",
        "func": "var daily = JSON.parse(msg.payload);\nvar day = 4;\nvar moment = global.get(\"moment\");\nvar dt = new Date(parseInt(daily[day].time)*1000);\ndaily[day].dow = moment(dt).format('dddd');\nmsg.payload = daily[day];\nreturn [msg, {payload:daily[day].dow}];",
        "outputs": "2",
        "noerr": 0,
        "x": 346,
        "y": 254,
        "wires": [
            [
                "5331c9be.bc65a8"
            ],
            []
        ]
    },
    {
        "id": "14572f73.750201",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/+/+/2 Car Port/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "68d7278b.197388"
            ]
        ]
    },
    {
        "id": "68d7278b.197388",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "Car Port",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Car Port",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "6000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "585a7e2e.ccf",
        "type": "function",
        "z": "f919d09c.4026b",
        "name": "negate",
        "func": "msg.payload = -msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381,
        "y": 269,
        "wires": [
            [
                "779d451a.32e4dc"
            ]
        ]
    },
    {
        "id": "a6e97723.502e48",
        "type": "function",
        "z": "f919d09c.4026b",
        "name": "negate",
        "func": "msg.payload = -msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "a24b2754.61c468"
            ]
        ]
    },
    {
        "id": "6798660a.a1a248",
        "type": "function",
        "z": "f919d09c.4026b",
        "name": "negate",
        "func": "msg.payload = -msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 371,
        "y": 440,
        "wires": [
            [
                "cfc28f02.ce6d2"
            ]
        ]
    },
    {
        "id": "a88c9e12.ec20d",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "OB Pump",
        "topic": "/App/Boiler Rm/+/OB Pump/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "f3b03360.6844a"
            ]
        ]
    },
    {
        "id": "f3b03360.6844a",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275,
        "y": 163,
        "wires": [
            [
                "a967e72b.7e0098"
            ]
        ]
    },
    {
        "id": "a967e72b.7e0098",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "dc0fa820.c90778",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "OB Pump",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 446,
        "y": 166,
        "wires": []
    },
    {
        "id": "5ef18b7b.c3c004",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "WB Circ",
        "topic": "/App/Boiler Rm/+/WB Circ/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "87bdc870.1ac108"
            ]
        ]
    },
    {
        "id": "87bdc870.1ac108",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "675714d3.02c1bc"
            ]
        ]
    },
    {
        "id": "675714d3.02c1bc",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "dc0fa820.c90778",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "WB Circ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "931e1e0e.be60a",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "Solar",
        "topic": "/App/Boiler Rm/+/Pump/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "716f3d80.8a9cc4"
            ]
        ]
    },
    {
        "id": "716f3d80.8a9cc4",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 273,
        "y": 344,
        "wires": [
            [
                "c46a70cf.d18f1"
            ]
        ]
    },
    {
        "id": "c46a70cf.d18f1",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "dc0fa820.c90778",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "Solar",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 436,
        "y": 346,
        "wires": []
    },
    {
        "id": "20e8fb64.a13e44",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "OB On",
        "topic": "/App/Boiler Rm/+/OB ON/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "3af57356.35937c"
            ]
        ]
    },
    {
        "id": "3af57356.35937c",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 293,
        "y": 101,
        "wires": [
            [
                "e36fd1ef.4956b"
            ]
        ]
    },
    {
        "id": "e36fd1ef.4956b",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "dc0fa820.c90778",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "OB On",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 456,
        "y": 103,
        "wires": []
    },
    {
        "id": "c6b02c93.4680b",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "Lounge",
        "topic": "/App/Boiler Rm/Boiler Relays/Lounge/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "ba1db0d6.f731f"
            ]
        ]
    },
    {
        "id": "ba1db0d6.f731f",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 273,
        "y": 404,
        "wires": [
            [
                "1ea4a10f.58858f"
            ]
        ]
    },
    {
        "id": "1ea4a10f.58858f",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "9def39ad.39afc8",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "Lounge",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 446,
        "y": 406,
        "wires": []
    },
    {
        "id": "5d912821.82b368",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "Dining",
        "topic": "/App/Boiler Rm/Boiler Relays/Dining/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 650,
        "y": 20,
        "wires": [
            [
                "46d65a71.6ee024"
            ]
        ]
    },
    {
        "id": "46d65a71.6ee024",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 813,
        "y": 24,
        "wires": [
            [
                "3bca3f7a.d28a8"
            ]
        ]
    },
    {
        "id": "3bca3f7a.d28a8",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "9def39ad.39afc8",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "Dining",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 976,
        "y": 26,
        "wires": []
    },
    {
        "id": "2a5649e8.e873a6",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "Family",
        "topic": "/App/Boiler Rm/Boiler Relays/Family/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 657,
        "y": 85,
        "wires": [
            [
                "b390ae3d.1b22c",
                "d0ab7a22.dbbbc8"
            ]
        ]
    },
    {
        "id": "b390ae3d.1b22c",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 89,
        "wires": [
            [
                "7000a4db.30b0bc"
            ]
        ]
    },
    {
        "id": "7000a4db.30b0bc",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "9def39ad.39afc8",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "Family",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 983,
        "y": 91,
        "wires": []
    },
    {
        "id": "9f765fa5.166e5",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "Rads",
        "topic": "/App/Boiler Rm/Boiler Relays/Rads/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 650,
        "y": 260,
        "wires": [
            [
                "84ca7d39.fb8ca"
            ]
        ]
    },
    {
        "id": "84ca7d39.fb8ca",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 813,
        "y": 264,
        "wires": [
            [
                "c396e15.14e592"
            ]
        ]
    },
    {
        "id": "c396e15.14e592",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "9def39ad.39afc8",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "Rads",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 990,
        "y": 266,
        "wires": []
    },
    {
        "id": "eecd3100.590e1",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "Bedroom",
        "topic": "/App/Bedroom/Temperature Monitor/Bedroom Radiator/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 660,
        "y": 320,
        "wires": [
            [
                "33997917.009766"
            ]
        ]
    },
    {
        "id": "33997917.009766",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 813,
        "y": 324,
        "wires": [
            [
                "c33005e1.c04d68"
            ]
        ]
    },
    {
        "id": "c33005e1.c04d68",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "4385ba06.a9e2a4",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "Bedroom",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1000,
        "y": 326,
        "wires": []
    },
    {
        "id": "8b80f9e3.a65888",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "G 1",
        "topic": "/App/Guest1/+/Radiator/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "dc25fd68.4ec06"
            ]
        ]
    },
    {
        "id": "dc25fd68.4ec06",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 813,
        "y": 384,
        "wires": [
            [
                "20f799f2.e9e546"
            ]
        ]
    },
    {
        "id": "20f799f2.e9e546",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "4385ba06.a9e2a4",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "G 1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 976,
        "y": 386,
        "wires": []
    },
    {
        "id": "28bfa523.86887a",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "Lounge",
        "topic": "/App/Lounge/Radiator/+/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 650,
        "y": 500,
        "wires": [
            [
                "c18e6993.d531a8"
            ]
        ]
    },
    {
        "id": "c18e6993.d531a8",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 823,
        "y": 506,
        "wires": [
            [
                "79dfb95.a370948"
            ]
        ]
    },
    {
        "id": "79dfb95.a370948",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "4385ba06.a9e2a4",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "Lounge",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1000,
        "y": 520,
        "wires": []
    },
    {
        "id": "158654e0.f909bb",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "Office",
        "topic": "/App/Office/Radiator/Office Radiator/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 658,
        "y": 546,
        "wires": [
            [
                "c79d9856.138fa8"
            ]
        ]
    },
    {
        "id": "c79d9856.138fa8",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 821,
        "y": 550,
        "wires": [
            [
                "c59749ae.6283b8"
            ]
        ]
    },
    {
        "id": "c59749ae.6283b8",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "4385ba06.a9e2a4",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "Office",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 990,
        "y": 580,
        "wires": []
    },
    {
        "id": "af300266.c2437",
        "type": "mqtt in",
        "z": "2d4c8119.cffb1e",
        "name": "MHRV",
        "topic": "/App/+/MHRV/Fan/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "f3403977.65f3b8"
            ]
        ]
    },
    {
        "id": "f3403977.65f3b8",
        "type": "function",
        "z": "2d4c8119.cffb1e",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else if (msg.payload == \"1\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-warning\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 253,
        "y": 64,
        "wires": [
            [
                "f6d6ce88.6ce87"
            ]
        ]
    },
    {
        "id": "f6d6ce88.6ce87",
        "type": "ui_text",
        "z": "2d4c8119.cffb1e",
        "group": "4fab2e8b.b52b9",
        "order": 1,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "MHRV",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 416,
        "y": 66,
        "wires": []
    },
    {
        "id": "c9a2fa52.459888",
        "type": "mqtt in",
        "z": "962cb828.613348",
        "name": "",
        "topic": "/App/Guest2/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 181,
        "y": 954,
        "wires": [
            [
                "b3f4f0db.e9bb4"
            ]
        ]
    },
    {
        "id": "b3f4f0db.e9bb4",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 554,
        "y": 949,
        "wires": []
    },
    {
        "id": "b0f9769.5883688",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/+/+/3 Lower CU/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 137,
        "y": 655,
        "wires": [
            [
                "17ce077d.cd0e09"
            ]
        ]
    },
    {
        "id": "17ce077d.cd0e09",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "Lower CU",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Lower CU",
        "label": "units",
        "format": "{{value}}",
        "min": "-5000",
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 660,
        "wires": []
    },
    {
        "id": "eec2fa5b.e8f778",
        "type": "mqtt in",
        "z": "bb330f1d.4495",
        "name": "",
        "topic": "/App/Office/+/Temperature/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 183,
        "y": 270,
        "wires": [
            [
                "42601076.587"
            ]
        ]
    },
    {
        "id": "42601076.587",
        "type": "function",
        "z": "bb330f1d.4495",
        "name": "",
        "func": "msg.topic = \"Office\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 458,
        "y": 266,
        "wires": [
            [
                "f8a2c68.25e9638"
            ]
        ]
    },
    {
        "id": "3bef05c1.1a254a",
        "type": "mqtt in",
        "z": "962cb828.613348",
        "name": "",
        "topic": "/Raw/Holliesd2fa29/0/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "2005f9c1.007dce"
            ]
        ]
    },
    {
        "id": "6271910e.6c182",
        "type": "mqtt in",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "topic": "/App/Lounge/+/Woodburner Top/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 168,
        "y": 178,
        "wires": [
            [
                "f8545627.58d308",
                "87e66e01.a8b38"
            ]
        ]
    },
    {
        "id": "e1fa20c5.9b719",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "Emergency",
        "topic": "/App/Boiler Rm/+/Emergency/Output/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "78fef767.9cd478"
            ]
        ]
    },
    {
        "id": "78fef767.9cd478",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 293,
        "y": 39,
        "wires": [
            [
                "be4d1b61.8ef9f8"
            ]
        ]
    },
    {
        "id": "be4d1b61.8ef9f8",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "dc0fa820.c90778",
        "order": 0,
        "width": "1",
        "height": "1",
        "name": "Emergency",
        "label": "Emergcy",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 481,
        "y": 46,
        "wires": []
    },
    {
        "id": "75cf1c28.eb9f74",
        "type": "ui_chart",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "group": "55a1096.ee826f8",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "130",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 808,
        "y": 358,
        "wires": [
            []
        ]
    },
    {
        "id": "b37761a8.ecb7d",
        "type": "function",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "func": "msg.topic = \"Panel\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 408,
        "y": 338,
        "wires": [
            [
                "75cf1c28.eb9f74"
            ]
        ]
    },
    {
        "id": "b0292d63.2f013",
        "type": "mqtt in",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "topic": "/App/Boiler Rm/+/Panel/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 168,
        "y": 338,
        "wires": [
            [
                "b37761a8.ecb7d"
            ]
        ]
    },
    {
        "id": "73874661.728f48",
        "type": "function",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "func": "msg.topic = \"Supply\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 408,
        "y": 398,
        "wires": [
            [
                "75cf1c28.eb9f74"
            ]
        ]
    },
    {
        "id": "1b12a96.4260257",
        "type": "mqtt in",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "topic": "/App/Boiler Rm/+/Supply/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 168,
        "y": 398,
        "wires": [
            [
                "73874661.728f48"
            ]
        ]
    },
    {
        "id": "303ec0c3.570b4",
        "type": "function",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "func": "msg.topic = \"Return\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 408,
        "y": 458,
        "wires": [
            [
                "75cf1c28.eb9f74"
            ]
        ]
    },
    {
        "id": "2dc58c0b.12e914",
        "type": "mqtt in",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "topic": "/App/Boiler Rm/+/Return/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 168,
        "y": 458,
        "wires": [
            [
                "303ec0c3.570b4"
            ]
        ]
    },
    {
        "id": "d1e5e32b.09fc4",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "WB SUpply",
        "topic": "/App/Boiler Rm/+/WB Supply/Input/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "e9e68e1c.4653b"
            ]
        ]
    },
    {
        "id": "e9e68e1c.4653b",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 273,
        "y": 284,
        "wires": [
            [
                "e0afcfb1.78cda"
            ]
        ]
    },
    {
        "id": "e0afcfb1.78cda",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "dc0fa820.c90778",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "WB Supply",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 456,
        "y": 286,
        "wires": []
    },
    {
        "id": "96eedcff.39d95",
        "type": "mqtt in",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "topic": "/App/Boiler Rm/+/WB Flow/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 158,
        "y": 258,
        "wires": [
            [
                "900688ac.bdd2e8"
            ]
        ]
    },
    {
        "id": "900688ac.bdd2e8",
        "type": "function",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "func": "msg.topic = \"WB Flow\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 548,
        "y": 278,
        "wires": [
            [
                "d0c39105.4bc6"
            ]
        ]
    },
    {
        "id": "15aae1cd.1fcbce",
        "type": "mqtt in",
        "z": "921375ea.3b3d38",
        "name": "",
        "topic": "/App/Lounge/+/Woodburner Top/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "be8d4022.bee6e",
                "75894405.0f4bac"
            ]
        ]
    },
    {
        "id": "722e0e05.ac395",
        "type": "mqtt in",
        "z": "921375ea.3b3d38",
        "name": "",
        "topic": "/App/Boiler Rm/+/WB Flow/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "be8d4022.bee6e"
            ]
        ]
    },
    {
        "id": "478b941e.df8a0c",
        "type": "mqtt in",
        "z": "921375ea.3b3d38",
        "name": "WB Supply",
        "topic": "/App/Boiler Rm/+/WB Supply/Input/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "be8d4022.bee6e"
            ]
        ]
    },
    {
        "id": "4efd1530.598a8c",
        "type": "ui_text",
        "z": "921375ea.3b3d38",
        "group": "4792a5d6.9d80ec",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "Alarm",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "87418dd8.28592",
        "type": "ui_audio",
        "z": "921375ea.3b3d38",
        "name": "Alarm voice",
        "group": "4792a5d6.9d80ec",
        "voice": "en-GB",
        "always": true,
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "be8d4022.bee6e",
        "type": "function",
        "z": "921375ea.3b3d38",
        "name": "Save Value",
        "func": "var sensor = msg.topic.split('/')[4]; \nvar v = msg.payload;\nsensor = sensor.replace(' ', '_');\nvar values = flow.get('values') || {};\nvalues[sensor] = v;\nmsg.topic = sensor;\nmsg.payload = values;\nflow.set('values', values);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "a1ad94cd.36c298"
            ]
        ]
    },
    {
        "id": "c217cf1b.a0922",
        "type": "debug",
        "z": "921375ea.3b3d38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "a1ad94cd.36c298",
        "type": "function",
        "z": "921375ea.3b3d38",
        "name": "Check Temperatures",
        "func": "var values = flow.get('values') ||{};\nvar Woodburner_Top = parseFloat(values.Woodburner_Top||0);\nvar WB_Flow = parseFloat(values.WB_Flow||0);\nvar WB_Supply = (values.WB_Supply == \"1\");\nvalues.alarmState = values.alarmState || \"Reset\";\nvar err = \"\";\nif (Woodburner_Top > 90.0) {\n    err+= \"Woodburner overheating \"+values.Woodburner_Top + '...';\n    if (values.alarmState == \"Clear\") values.alarmState = \"Alarm\";\n}\nif (Woodburner_Top > 75.0 && !WB_Supply) {\n    err+= \"No Woodburner circulation...\";\n     if (values.alarmState == \"Clear\") values.alarmState = \"Alarm\";\n} else if (Woodburner_Top > 50.0 && (Woodburner_Top > (WB_Flow+20.0))) {\n    err+= \"Woodburner slow circulation \"+ Woodburner_Top + '...';\n     if (values.alarmState == \"Clear\") values.alarmState = \"Alarm\";\n}\nvar msg = [];\nif (values.alarmState == 'Alarm') {\n    if (err !== \"\") {\n        msg[2] = {payload:err};\n    }\n}\nmsg[1] = {payload:values.alarmState};\n// node.log(JSON.stringify( values));\nflow.set('values',values);\nmsg[0] = {payload:values};\nreturn msg;",
        "outputs": 3,
        "noerr": 0,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "c217cf1b.a0922"
            ],
            [
                "4efd1530.598a8c"
            ],
            [
                "fd07b302.0a8ea",
                "54bcf4b.b26f10c"
            ]
        ]
    },
    {
        "id": "7baa22de.9158bc",
        "type": "function",
        "z": "921375ea.3b3d38",
        "name": "Alarm button decode",
        "func": "var values = flow.get(\"values\");\nvar newMsg = [];\nswitch (msg.payload) {\n    case \"Clear\": \n        values.alarmState = \"Clear\";\n        newMsg[1] = {payload:'Clear'};\n        newMsg[2] = {reset: true};\n        newMsg[3] = {payload:''};\n        break;\n    case 'RA':\n        switch (values.alarmState) {\n            case \"Alarm\": \n                values.alarmState = \"RA\"; \n                newMsg[2] = {reset: true};\n                break;\n            case \"RA\": break;\n            case \"Clear\": break;\n            case undefined: \n                values.alarmState = \"Clear\"; \n                break;\n        }\n        break;\n    case \"Test\":\n        values.alarmState = \"Alarm\";\n        newMsg[2] = newMsg[1] ={payload:\"Testing Alarm\"};\n        break;\n    }\nflow.set(\"values\", values);\n\nnewMsg[1] = {payload: values.alarmState};\nnewMsg[0] = msg\nreturn newMsg;",
        "outputs": 4,
        "noerr": 0,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "a1ad94cd.36c298"
            ],
            [
                "4efd1530.598a8c"
            ],
            [
                "87418dd8.28592"
            ],
            [
                "54bcf4b.b26f10c"
            ]
        ]
    },
    {
        "id": "66ba33d7.c68dbc",
        "type": "catch",
        "z": "921375ea.3b3d38",
        "name": "",
        "scope": null,
        "x": 180,
        "y": 540,
        "wires": [
            [
                "e805aef0.f205a"
            ]
        ]
    },
    {
        "id": "5cb2cb8e.55e124",
        "type": "debug",
        "z": "921375ea.3b3d38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "3b4cc5d.76de23a",
        "type": "inject",
        "z": "921375ea.3b3d38",
        "name": "Test",
        "topic": "/App/Lounge/x/Woodburner Top/0",
        "payload": "99.5",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "be8d4022.bee6e"
            ]
        ]
    },
    {
        "id": "54bcf4b.b26f10c",
        "type": "ui_text",
        "z": "921375ea.3b3d38",
        "group": "4792a5d6.9d80ec",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "Last alarm reason",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "71e02fa2.c970e",
        "type": "ui_template",
        "z": "921375ea.3b3d38",
        "group": "4792a5d6.9d80ec",
        "name": "Alarm buttons",
        "order": 1,
        "width": "4",
        "height": "1",
        "format": "<style>\n    .rounded {border-radius: 5px 5px 5px 5px;}\n    .RA {background-color: orange; color: blue;}\n    .Clr {background-color: green; color: black;}\n    .Test {background-color: blue; color: white;}\n</style>\n<div ng-bind-html=\"msg.payload\"></div>\n<div>\n    <button ng-click=\"send({payload: 'Test'})\" class=\"rounded Test\">Test</button>\n    <button ng-click=\"send({payload: 'RA'})\" class=\"rounded RA\">RA</button>\n    <button ng-click=\"send({payload: 'Clear'})\" class=\"rounded Clr\">Clr</button>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "7baa22de.9158bc"
            ]
        ]
    },
    {
        "id": "fd07b302.0a8ea",
        "type": "ui_toast",
        "z": "921375ea.3b3d38",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Notify",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "e805aef0.f205a",
        "type": "function",
        "z": "921375ea.3b3d38",
        "name": "",
        "func": "node.log(JSON.stringify(msg))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 600,
        "wires": [
            [
                "5cb2cb8e.55e124"
            ]
        ]
    },
    {
        "id": "8a783e3e.1b39f",
        "type": "mqtt in",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "topic": "/App/Garage/modbus/AC power",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "e42ca9a8.381228"
            ]
        ]
    },
    {
        "id": "e42ca9a8.381228",
        "type": "ui_gauge",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "group": "f8783d13.3b8ec",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "G-Solar (mb)",
        "label": "units",
        "format": "{{value}}",
        "min": "-3000",
        "max": "3000",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff40"
        ],
        "seg1": "-1000",
        "seg2": "+1000",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "974d49fa.d8c548",
        "type": "mqtt in",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "topic": "/App/Garage/modbus/energy",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "9d4adee0.5dd36"
            ]
        ]
    },
    {
        "id": "240cad73.8aa6d2",
        "type": "ui_text",
        "z": "eb4cd96e.0ae0a8",
        "group": "f8783d13.3b8ec",
        "order": 0,
        "width": "2",
        "height": "2",
        "name": "",
        "label": "Garage gen MWh",
        "format": "{{ msg.payload}}",
        "layout": "col-center",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "b37b2b0f.6054d8",
        "type": "mqtt in",
        "z": "2d4c8119.cffb1e",
        "name": "",
        "topic": "/App/+/Level Control/Pressure/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 172,
        "y": 124,
        "wires": [
            [
                "5e079239.11561c"
            ]
        ]
    },
    {
        "id": "5e079239.11561c",
        "type": "ui_gauge",
        "z": "2d4c8119.cffb1e",
        "name": "",
        "group": "4fab2e8b.b52b9",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#02ff0f"
        ],
        "seg1": "400",
        "seg2": "700",
        "x": 512,
        "y": 124,
        "wires": []
    },
    {
        "id": "c2e5ff87.24929",
        "type": "subflow:bb330f1d.4495",
        "z": "93cd5b69.186278",
        "x": 190,
        "y": 100,
        "wires": []
    },
    {
        "id": "7920313.b67eed",
        "type": "subflow:9dac7c55.5b1a8",
        "z": "93cd5b69.186278",
        "name": "Boiler Temperatures",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "fd1d58ce.6b8788"
            ]
        ]
    },
    {
        "id": "ddd1fe2a.6c378",
        "type": "subflow:f919d09c.4026b",
        "z": "93cd5b69.186278",
        "name": "Electricity Usage",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "f15fcc9d.745f"
            ]
        ]
    },
    {
        "id": "d10d6bfd.32ce48",
        "type": "subflow:71f43fca.5d3d7",
        "z": "93cd5b69.186278",
        "name": "Weather",
        "x": 160,
        "y": 220,
        "wires": []
    },
    {
        "id": "39d6e1c2.3426ce",
        "type": "subflow:2d4c8119.cffb1e",
        "z": "93cd5b69.186278",
        "name": "Utility Room",
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "65f7a1ee.9faff",
        "type": "subflow:69ab4e12.4d835",
        "z": "93cd5b69.186278",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "881db5dd.ea5028"
            ]
        ]
    },
    {
        "id": "f6b98289.380c5",
        "type": "subflow:eb4cd96e.0ae0a8",
        "z": "93cd5b69.186278",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "5eaeea73.6daef4"
            ]
        ]
    },
    {
        "id": "75894405.0f4bac",
        "type": "debug",
        "z": "921375ea.3b3d38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "41f894b9.fa91bc",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "Hall",
        "topic": "/App/Boiler Rm/Boiler Relays/Hall/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "a9a70c88.f8f47"
            ]
        ]
    },
    {
        "id": "a9a70c88.f8f47",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 813,
        "y": 144,
        "wires": [
            [
                "ce75484c.86d3a8"
            ]
        ]
    },
    {
        "id": "ce75484c.86d3a8",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "9def39ad.39afc8",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "Hall",
        "label": "Hall",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 990,
        "y": 146,
        "wires": []
    },
    {
        "id": "69d8be24.2c7da",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "Toilet",
        "topic": "/App/Boiler Rm/Boiler Relays/Toilet/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 650,
        "y": 200,
        "wires": [
            [
                "36c700ea.f87d5"
            ]
        ]
    },
    {
        "id": "36c700ea.f87d5",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 813,
        "y": 204,
        "wires": [
            [
                "391aaba.18e6354"
            ]
        ]
    },
    {
        "id": "391aaba.18e6354",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "9def39ad.39afc8",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "Toilet",
        "label": "Toilet",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 990,
        "y": 206,
        "wires": []
    },
    {
        "id": "d0ab7a22.dbbbc8",
        "type": "link out",
        "z": "69ab4e12.4d835",
        "name": "",
        "links": [],
        "x": 1135,
        "y": 40,
        "wires": []
    },
    {
        "id": "881db5dd.ea5028",
        "type": "debug",
        "z": "93cd5b69.186278",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "ea1d2323.40f8a",
        "type": "mqtt in",
        "z": "962cb828.613348",
        "name": "",
        "topic": "/Raw/Hollies11c554/+/set/output",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "3f60864f.885bea"
            ]
        ]
    },
    {
        "id": "3f60864f.885bea",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "fd1d58ce.6b8788",
        "type": "debug",
        "z": "93cd5b69.186278",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "73d1b45e.20fa1c",
        "type": "link out",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "links": [],
        "x": 680,
        "y": 520,
        "wires": []
    },
    {
        "id": "b07b0676.337348",
        "type": "mqtt in",
        "z": "9dac7c55.5b1a8",
        "name": "",
        "topic": "/App/Boiler Rm/+/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "73d1b45e.20fa1c"
            ]
        ]
    },
    {
        "id": "e81753c.3c33ab",
        "type": "mqtt in",
        "z": "93cd5b69.186278",
        "name": "",
        "topic": "/App/Toilet/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "416ca0a0.a5cc4"
            ]
        ]
    },
    {
        "id": "416ca0a0.a5cc4",
        "type": "debug",
        "z": "93cd5b69.186278",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 480,
        "y": 480,
        "wires": []
    },
    {
        "id": "cd8ee3bf.bac3c",
        "type": "mqtt in",
        "z": "c7556560.da52d8",
        "name": "",
        "topic": "/App/weather/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "e57a4984.70b018"
            ]
        ]
    },
    {
        "id": "e57a4984.70b018",
        "type": "debug",
        "z": "c7556560.da52d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "73f3dfe8.4e7c9",
        "type": "mqtt in",
        "z": "c7556560.da52d8",
        "name": "",
        "topic": "/Raw/Hollies000000/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "222e4492.0a02fc"
            ]
        ]
    },
    {
        "id": "222e4492.0a02fc",
        "type": "debug",
        "z": "c7556560.da52d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "4a0c9f48.c6247",
        "type": "mqtt in",
        "z": "c7556560.da52d8",
        "name": "",
        "topic": "/App/Temp/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 230,
        "y": 20,
        "wires": [
            [
                "e57a4984.70b018"
            ]
        ]
    },
    {
        "id": "94f82d66.a76dd",
        "type": "mqtt in",
        "z": "c7556560.da52d8",
        "name": "",
        "topic": "/App/Cloud/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "e57a4984.70b018"
            ]
        ]
    },
    {
        "id": "5878af0d.c06c4",
        "type": "mqtt in",
        "z": "c7556560.da52d8",
        "name": "",
        "topic": "/App/Sun/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "e57a4984.70b018"
            ]
        ]
    },
    {
        "id": "ef9fb88c.7f76a8",
        "type": "mqtt in",
        "z": "c7556560.da52d8",
        "name": "",
        "topic": "/App/Wind/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "e57a4984.70b018"
            ]
        ]
    },
    {
        "id": "f3f1597a.39de18",
        "type": "mqtt in",
        "z": "c7556560.da52d8",
        "name": "",
        "topic": "/App/Rain/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "e57a4984.70b018"
            ]
        ]
    },
    {
        "id": "f98759d4.edb048",
        "type": "inject",
        "z": "962cb828.613348",
        "name": "",
        "topic": "",
        "payload": "{\"enq\":\"Tlc\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "ea204a07.a06588",
                "901f25b5.3e5498"
            ]
        ]
    },
    {
        "id": "ea204a07.a06588",
        "type": "udp out",
        "z": "962cb828.613348",
        "name": "",
        "addr": "192.168.1.255",
        "iface": "",
        "port": "9071",
        "ipv": "udp4",
        "outport": "8888",
        "base64": false,
        "multicast": "broad",
        "x": 530,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6e17838f.6ceeac",
        "type": "udp in",
        "z": "962cb828.613348",
        "name": "",
        "iface": "",
        "port": "8888",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "dde2d8dc.5e8ba8"
            ]
        ]
    },
    {
        "id": "dde2d8dc.5e8ba8",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 460,
        "y": 1160,
        "wires": []
    },
    {
        "id": "901f25b5.3e5498",
        "type": "debug",
        "z": "962cb828.613348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 460,
        "y": 1040,
        "wires": []
    },
    {
        "id": "74e3d230.4a03ac",
        "type": "mqtt in",
        "z": "2d4c8119.cffb1e",
        "name": "",
        "topic": "/App/+/Level Control/Level/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "151e8dc9.b8aa92"
            ]
        ]
    },
    {
        "id": "151e8dc9.b8aa92",
        "type": "ui_gauge",
        "z": "2d4c8119.cffb1e",
        "name": "",
        "group": "4fab2e8b.b52b9",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1200",
        "colors": [
            "#0367fc",
            "#13e302",
            "#f0fd04"
        ],
        "seg1": "400",
        "seg2": "700",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "5eaeea73.6daef4",
        "type": "debug",
        "z": "93cd5b69.186278",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 480,
        "y": 400,
        "wires": []
    },
    {
        "id": "f15fcc9d.745f",
        "type": "debug",
        "z": "93cd5b69.186278",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 40,
        "wires": []
    },
    {
        "id": "43ff96d0.8baef8",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/+/+/1 Garage/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 127,
        "y": 575,
        "wires": [
            [
                "15862c66.4aca94"
            ]
        ]
    },
    {
        "id": "15862c66.4aca94",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Garage",
        "label": "units",
        "format": "{{value}}",
        "min": "-3000",
        "max": "4000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 557,
        "y": 575,
        "wires": []
    },
    {
        "id": "3b585304.73b40c",
        "type": "ui_button",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "group": "f8783d13.3b8ec",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "currentPowerFlow",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "83a9aadb.52c2e8"
            ]
        ]
    },
    {
        "id": "d68c1dc8.74a",
        "type": "function",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "func": "var info = JSON.parse(msg.payload);\nvar newMsg = [];\nnewMsg[0] = {'payload':info.siteCurrentPowerFlow.GRID.currentPower};\nnewMsg[1] = {'payload':info.siteCurrentPowerFlow.LOAD.currentPower};\nnewMsg[2] = {'payload':info.siteCurrentPowerFlow.PV.currentPower};\nif (info.siteCurrentPowerFlow.STORAGE.status == 'Discharging') {\n    newMsg[3] = {'payload': -info.siteCurrentPowerFlow.STORAGE.currentPower};\n} else {\n    newMsg[3] = {'payload': +info.siteCurrentPowerFlow.STORAGE.currentPower};\n}\n\nnewMsg[4] = {'payload':info.siteCurrentPowerFlow.STORAGE.chargeLevel};\nreturn newMsg;",
        "outputs": 6,
        "noerr": 0,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "cbaa49dc.424df8"
            ],
            [
                "b4c84cce.9df51"
            ],
            [
                "23ae591f.373576"
            ],
            [
                "e6cf60e3.6badb"
            ],
            [
                "1a2f6ed4.6ff011"
            ],
            []
        ]
    },
    {
        "id": "cbaa49dc.424df8",
        "type": "ui_gauge",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "group": "f8783d13.3b8ec",
        "order": 4,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Grid",
        "label": "kw",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "b4c84cce.9df51",
        "type": "ui_gauge",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "group": "f8783d13.3b8ec",
        "order": 5,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Load",
        "label": "kw",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "23ae591f.373576",
        "type": "ui_gauge",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "group": "f8783d13.3b8ec",
        "order": 6,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Solar",
        "label": "kw",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "e6cf60e3.6badb",
        "type": "ui_gauge",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "group": "f8783d13.3b8ec",
        "order": 7,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Batt",
        "label": "kw",
        "format": "{{value}}kw",
        "min": "-5",
        "max": "5",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "-0.5",
        "seg2": "0.5",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "1a2f6ed4.6ff011",
        "type": "ui_gauge",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "group": "f8783d13.3b8ec",
        "order": 8,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Batt",
        "label": "%",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#13e302"
        ],
        "seg1": "25",
        "seg2": "75",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "5e426881.214788",
        "type": "mqtt in",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "topic": "/App/+/+/1 Solar/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "b034fdac.0de33"
            ]
        ]
    },
    {
        "id": "b034fdac.0de33",
        "type": "ui_gauge",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "group": "f8783d13.3b8ec",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "House Solar",
        "label": "units",
        "format": "{{value}}",
        "min": "-4000",
        "max": "100",
        "colors": [
            "#00ff40",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "-500",
        "seg2": "0",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "9d4adee0.5dd36",
        "type": "function",
        "z": "eb4cd96e.0ae0a8",
        "name": "/1000",
        "func": "var total = parseInt(msg.payload, 10);\nreturn {'payload': total/1000};",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "240cad73.8aa6d2"
            ]
        ]
    },
    {
        "id": "7af2d4e1.1301bc",
        "type": "mqtt in",
        "z": "93cd5b69.186278",
        "name": "",
        "topic": "/App/Porch/eMon1/Voltage/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "17e1cdc5.b0bb42"
            ]
        ]
    },
    {
        "id": "17e1cdc5.b0bb42",
        "type": "debug",
        "z": "93cd5b69.186278",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "2e6cf4e3.b51ffc",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/Boiler Rm/+/4 Other/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "54813c20.bbbbd4"
            ]
        ]
    },
    {
        "id": "50c4647f.8f80ec",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "Ex Other",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Ex Other",
        "label": "units",
        "format": "{{value}}",
        "min": "000",
        "max": "1000",
        "colors": [
            "#ffff80",
            "#e19f04",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "300",
        "x": 573,
        "y": 385,
        "wires": []
    },
    {
        "id": "3114c686.274f4a",
        "type": "mqtt in",
        "z": "f919d09c.4026b",
        "name": "",
        "topic": "/App/+/+/1 Solar/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "fa2eea62.d7a8a8"
            ]
        ]
    },
    {
        "id": "fa2eea62.d7a8a8",
        "type": "ui_gauge",
        "z": "f919d09c.4026b",
        "name": "House Solar",
        "group": "16026dfe.edfd72",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "House Solar",
        "label": "units",
        "format": "{{value}}",
        "min": "-4000",
        "max": "100",
        "colors": [
            "#00ff80",
            "#e6e600",
            "#ff0000"
        ],
        "seg1": "-500",
        "seg2": "0",
        "x": 583,
        "y": 725,
        "wires": []
    },
    {
        "id": "94ebb409.7e2d08",
        "type": "function",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "14a673e7.1f354c",
        "type": "mqtt in",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "topic": "/App/+/+/3 - Inverter/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "512b4fef.de3da"
            ]
        ]
    },
    {
        "id": "38999c09.bb3424",
        "type": "ui_gauge",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "group": "f8783d13.3b8ec",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "G-Solar (inv)",
        "label": "units",
        "format": "{{value}}",
        "min": "-4000",
        "max": "1000",
        "colors": [
            "#00ff40",
            "#e6e600",
            "#ff0000"
        ],
        "seg1": "-500",
        "seg2": "0",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "54813c20.bbbbd4",
        "type": "function",
        "z": "f919d09c.4026b",
        "name": "negate",
        "func": "msg.payload = -msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "50c4647f.8f80ec"
            ]
        ]
    },
    {
        "id": "512b4fef.de3da",
        "type": "function",
        "z": "eb4cd96e.0ae0a8",
        "name": "negate",
        "func": "msg.payload = -msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "38999c09.bb3424"
            ]
        ]
    },
    {
        "id": "da046022.2f23f",
        "type": "ui_button",
        "z": "e3fc4d98.11333",
        "name": "",
        "group": "f8783d13.3b8ec",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Power",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "power",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "42778e4b.5af"
            ]
        ]
    },
    {
        "id": "42778e4b.5af",
        "type": "function",
        "z": "e3fc4d98.11333",
        "name": "",
        "func": "var M = global.get(\"moment\");\nvar m = new M();\nmsg.startTime = m.format(\"YYYY:MM:DD hh:00\")\nmsg.endTime = m.add(1, 'h').format(\"YYYY:MM:DD hh:00\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 860,
        "wires": [
            [
                "97c4241f.d74888"
            ]
        ]
    },
    {
        "id": "97c4241f.d74888",
        "type": "http request",
        "z": "e3fc4d98.11333",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://monitoringapi.solaredge.com/site/715727/{{topic}}.json?startTime={{startTime}}:endTime={{endTime}}:api_key=2KIZC7NTK62JD7PJ7LG0NXGYYCL2TOT4",
        "tls": "",
        "x": 440,
        "y": 880,
        "wires": [
            [
                "86dd9cbd.81da9"
            ]
        ]
    },
    {
        "id": "83a9aadb.52c2e8",
        "type": "http request",
        "z": "eb4cd96e.0ae0a8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://monitoringapi.solaredge.com/site/715727/{{topic}}.json?api_key=2KIZC7NTK62JD7PJ7LG0NXGYYCL2TOT4",
        "tls": "",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "d68c1dc8.74a"
            ]
        ]
    },
    {
        "id": "86dd9cbd.81da9",
        "type": "debug",
        "z": "e3fc4d98.11333",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 620,
        "y": 900,
        "wires": []
    },
    {
        "id": "d9cb17e4.3870d8",
        "type": "mqtt in",
        "z": "bb330f1d.4495",
        "name": "",
        "topic": "/App/Utility/MHRV/Toilet Temp/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "1225f8cd.ed9f47"
            ]
        ]
    },
    {
        "id": "1225f8cd.ed9f47",
        "type": "function",
        "z": "bb330f1d.4495",
        "name": "",
        "func": "msg.topic = \"Toilet\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "f8a2c68.25e9638"
            ]
        ]
    },
    {
        "id": "6c5d598d.f666c8",
        "type": "mqtt in",
        "z": "bb330f1d.4495",
        "name": "",
        "topic": "/App/Guest1/+/Temperature/#",
        "qos": "2",
        "broker": "d9cbc95c.9962d8",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "d8d24486.e68cf8"
            ]
        ]
    },
    {
        "id": "d8d24486.e68cf8",
        "type": "function",
        "z": "bb330f1d.4495",
        "name": "",
        "func": "msg.topic = \"G 1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 455,
        "y": 316,
        "wires": [
            [
                "f8a2c68.25e9638"
            ]
        ]
    },
    {
        "id": "abe64bcb.d75478",
        "type": "mqtt in",
        "z": "bb330f1d.4495",
        "name": "",
        "topic": "/App/Guest2/+/Temperature/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "6873ac54.5d32a4"
            ]
        ]
    },
    {
        "id": "6873ac54.5d32a4",
        "type": "function",
        "z": "bb330f1d.4495",
        "name": "",
        "func": "msg.topic = \"G 2\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 455,
        "y": 376,
        "wires": [
            [
                "f8a2c68.25e9638"
            ]
        ]
    },
    {
        "id": "d3946ac5.decc58",
        "type": "mqtt in",
        "z": "69ab4e12.4d835",
        "name": "G 2",
        "topic": "/App/Guest2/+/Radiator/Output/#",
        "qos": "0",
        "broker": "d9cbc95c.9962d8",
        "x": 650,
        "y": 440,
        "wires": [
            [
                "4e823080.03596"
            ]
        ]
    },
    {
        "id": "4e823080.03596",
        "type": "function",
        "z": "69ab4e12.4d835",
        "name": "",
        "func": "if (msg.payload == \"0\") {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-ok\"></i>';\n} else {\n    msg.payload = '<i class=\"fa fa-lightbulb-o fa-2x  nr-dashboard-error\"></i>';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 813,
        "y": 444,
        "wires": [
            [
                "223cd065.758b9"
            ]
        ]
    },
    {
        "id": "223cd065.758b9",
        "type": "ui_text",
        "z": "69ab4e12.4d835",
        "group": "4385ba06.a9e2a4",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "G 2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 970,
        "y": 440,
        "wires": []
    }
]